*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
table{
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 400px;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #f4f4f4;
}
.display{
  width: 100%;
  height: 60px;
  border: none;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  font-size: 20px;
  color: #000;
}
input[type = button]{
  width: 100%;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #bcbcbc;
  font-size: 20px;
}
input:active[type=button]{ 
  box-shadow: inset 0px 0px 5px #b5afaf;
}
input[type=button]:hover{
  background: #7b7b7b;
}
.clear, .equ{
  background: #f80e0e!important;
  color: #fff;
}
.clear:hover, .equ:hover{
  background: #cd0101!important;
}